/*============================================*/
/*===============PaginacaoMain================*/
/*============================================*/
.lista-4x2 {
    list-style           : none;
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : 1em;
}

.lista-4x2 li {
    display       : flex;
    flex-direction: column;
}

.lista-4x2 li footer {
    flex                 : 1;
    background-color     :#dcd9d9;
    background-attachment:#fff;
    padding              : 5px 20px;
    text-align           : left;
    border-radius        : 0 0 5px 5px;
}

.lista-4x2 li footer strong {
    font-size: 15px;
    color    : #333;
}

.lista-4x2 li footer p {
    font-size  : 15px;
    line-height: 20px;
    color      : #999;
    margin-top : 5px;
    word-break : break-all;
}

.div-card {
    background-color: #fff; 
    box-shadow      : 5px 5px 4px;
    border-radius   : 0px 0px 5px 5px;
    border          : 1px solid black;
    width: 15em;
}

.footer-card {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 30px;
}

.footer-card span {
    margin-top: 10px;
}

#img-reme {
    height: 6em;
    width: 6em;
}

.footer-main-container {
    position:absolute;
    bottom:0;
    width:100%;
}

/*============================================*/
/*=============PaginacaoCarrinho==============*/
/*============================================*/
.main-container-carrinho {
    max-width            : 66em;
    margin               : 0 auto;
    padding              : 50px 0;
    text-align           : center; 
    height               : 100%;
    position             : relative;
    /* display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 30px; */
}

.grid-main {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 30px; 
}

.main-container-carrinho ul {
    list-style           : none;
    display              : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap             : 1em;
    margin-top           : 1em;
}

.main-container-carrinho .empty {
    font-size  : 32px;
    color      : #999;
    font-weight: bold;
    margin-top : 182px;
}

.main-container-carrinho ul li {
    display       : flex;
    flex-direction: row;
}

.div-card-carrinho {
    background-color     : #fff; 
    box-shadow           : 5px 5px 4px;
    border-radius        : 0px 0px 5px 5px;
    display              : grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap             : 20px;
    padding              : 10px;
    width: 50em;
    height: 7em;
    text-align: left;
}

/* .div-card-carrinho:nth-child(even) {
    background-color: #f2f2f2;
} */

.main-container ul li div p {
    font-size  : 15px;
    /* line-height: 20px; */
    color      : #999;
    margin-top : 5px;
    word-break : break-all;
}

.div-descricao-carrinho {
    align-items    : flex-start;
    justify-content: left;
    display        : flex;
    flex-direction : column;
}

.h-titulo {
    text-align: left;
}

#img-reme-peq {
    height: 3em;
}

.main-container-carrinho select {
    width: 3em;
    height: 3em;
    /* text-align: center; */
    border-radius: 9px;
}

.div-qtd-carrinho {
    display: grid;
}

.div-qtd-carrinho button {
    background: none;
    border    : none;
    width     : 4em;
    cursor    : pointer;
}

/*=============DivResumo==============*/
.div-resumo {    
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
    border: 1px solid black;
    background-color: #ece7e7;
    width: 16em;
    height: 15em;
    box-shadow: 5px 5px 5px;
}

.itens-resumo {
    display: flex;
    flex-direction: row;   
}

.itens-resumo span {
    padding: 10px;
    color: #a9a5a5;
}

.itens-resumo strong {
    padding: 5px;
}

.div-resumo hr {
    width: 100%;
}

.div-resumo span {
    padding: 10px;
}

.itens-resumo-total {
    display: flex;
    flex-direction: row;    
    font-weight: bold;
}

.div-resumo-botao {
   padding: 10px;
}