.dados-produto {
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;/* display: grid;
    grid-template-columns: repeat(1,1fr); */
}

.dados-produto header {
    margin-bottom: 3em; 
}

.dados-produto button {
    margin-top: 3em; 
}

img#img-reme-grande {
    height: 24em;
    box-shadow: 5px 5px 5px;
    border: 1px solid black;
}