.lista-4x2 {
    list-style           : none;
    display              : grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap             : 1em;
}

.lista-4x2 li {
    display       : flex;
    flex-direction: column;
}

.lista-4x2 li footer {
    flex                 : 1;
    background-color     :#dcd9d9;
    background-attachment:#fff;
    padding              : 5px 20px;
    text-align           : left;
    border-radius        : 0 0 5px 5px;
}

.lista-4x2 li footer strong {
    font-size: 15px;
    color    : #333;
}

.lista-4x2 li footer p {
    font-size  : 15px;
    line-height: 20px;
    color      : #999;
    margin-top : 5px;
    word-break : break-all;
}

.div-card {
    background-color: #fff; 
    box-shadow      : 5px 5px 4px;
    border-radius   : 0px 0px 5px 5px;
    border          : 1px solid black;
    width: 15em;
}

.footer-card {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 30px;
}

.footer-card span {
    margin-top: 10px;
}

#img-reme {
    height: 6em;
    width: 6em;
}

.footer-main-container {
    position:absolute;
    bottom:0;
    width:100%;
}