#progress {
    width: 20em;
    background-color: #ddd;
  }
  
#barra {
    width: 1%;
    height: 10px;
    background-color: #4CAF50;
}

.circulo-esquerdo {
    padding-left: 1.5em;
}

.circulo-direito {
    margin-left: -1.5em;
}