.cadastro-container {
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.cadastro-container form {
    width         : 100%;
    max-width     : 300px;
    display       : flex;
    flex-direction: column;
}

.cadastro-container form input {
    margin-top   : 20px;
    border       : 1px solid #ddd;
    border-radius: 4px;
    height       : 30px;
    padding      : 0 20px;
    font-size    : 15px;
    color        : #666;
}

.cadastro-container form input::placeholder {
    color: #999;
}

.cadastro-container form button {
    margin-top   : 10px;
    border       : 0;
    border-radius: 4px;
    height       : 40px;
    font-size    : 15px;
    background   : #0433ff;
    color        : #fff;
    cursor       : pointer;
}

.cadastro-main-container header {
    margin-top  : 10px;
    padding-left: 20px; 
}

.cadastro-main-container header strong {
    color: #070ff3;
}

.cadastro-main-container header span {
    color: #0c0c0c;
}

.cadastro-main-container hr {
    margin-top: 20px;
}

.cadastro-main-container footer {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}