/*======================================================*/
/*=======================Geral==========================*/
/*======================================================*/

* {
    margin    : 0;
    padding   : 0;
    outline   : 0;
    box-sizing: border-box;
}

html, body, #root {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    /* background : #bff6ff; */
    background :#dedddd66;
    color      : #333;
}

body, input, button {
    font-family: Arial, Helvetica, sans-serif;
}

body a:link {
    text-decoration: none;
    color          : none;
}

/*================================================*/
/*====================Pagina======================*/
/*================================================*/

.container-fundo {
    max-width : 67em;
    margin    : 0 auto;
    padding   : 50px 0px;
    text-align: center; 
    height    : 100%;
    position  : relative;
}

.nav-ul {
    list-style-type : none;
    margin          : 0;
    padding         : 0;
    overflow        : hidden;
    background-color: #05689c80;
    /* background-color: #05689c; */
}

.nav-li {
    float: left;
}

.nav-li a {
    display        : block;
    color          : white;
    text-align     : center;
    padding        : 14px 16px;
    text-decoration: none;
}

.nav-li a:hover {
    background-color: #05689c;
}

.grid2 {
    display              : grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap             : 10px;
    margin               : 10px;
}

.grid3 {
    display              : grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap             : 10px;
    margin               : 10px;
}

.elem-linha {
    display        : flex;
    flex-direction : row;
    justify-content: center;
    align-items    : center;
}

.container-list {
    display              : grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap             : 10px;
    margin               : 10px;
}

.list {
    display       : flex;
    flex-direction: column;
    /* justify-content: left;
    align-items: flex-start; */
}

.container-main-grid-d2 {
    max-width: 980px;
    margin: 0 auto;
    padding: 50px 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 14em;
}

.vazia {
    font-size  : 32px;
    color      : #999;
    font-weight: bold;
    margin-top : 182px;
}

.rodape {
    position:absolute;
    bottom:0;
    width:100%;
}

.paginacao {
    display        : flex;
    justify-content: space-between;
    margin-top     : 1em;
}

.paginacao button[disabled] {
    opacity: 0.5;
    cursor : default;
}


.paginacao button[disabled]:hover {
    opacity: 0.5;
}

/*================================================*/
/*==================Elementos=====================*/
/*================================================*/

.circulo {
    background-color: #7099e8;
    border-radius   : 3em;
    height          : 5em;
    width           : 5em;
    margin          : 3em;
    padding-top     : 1em;
    padding-left    : 1em;
}

/*===================SVG=====================*/
.elem-svg {
    height: 6.5em;
    width : 6.2em;
}

/*=====================Botao======================*/
.btn {
    margin-top   : 10px;
    border       : 0;
    border-radius: 5px;
    padding      : 10px;
    font-size    : 15px;
    font-weight  : bold;
}

.btn:hover {
    opacity: 0.7;
}

.azul-roxo {
    background   : #0433ff;
    color        : #fff;
}

/*=================Propriedades===================*/

.clicavel {
    color  : #fff;
    cursor : pointer;
}

/*=================Formulario=====================*/
.form-container {
    height         : 100%;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

.form-container form {
    width         : 100%;
    max-width     : 300px;
    display       : flex;
    flex-direction: column;
}

.form-container form input {
    margin-top   : 20px;
    border       : 1px solid #ddd;
    border-radius: 4px;
    height       : 30px;
    padding      : 0 20px;
    font-size    : 15px;
    color        : #666;
}


.form-container form input::placeholder {
    color: #999;
}

.form-main-container header {
    margin-top  : 10px;
    padding-left: 20px; 
}

.form-main-container header strong {
    color: #070ff3;
}

.form-main-container header span {
    color: #0c0c0c;
}

.form-main-container hr {
    margin-top: 20px;
}

.form-main-container footer {
    margin-top     : 20px;
    display        : flex;
    justify-content: center;
    align-items    : center;
}

/*================================================*/
/*================Configuracoes===================*/
/*================================================*/

.quebra-linha h1, p {
    word-break : break-all;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.caixa-preenchimento-small {
    width: 5em;
}

.caixa-preenchimento-midle {
    width: 15em;
}

.input-small {
    width: 9em;
}